{% load i18n %}
<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
    <title>{% block title %}{% endblock title %}</title>
    {% block extrastyle %}{% endblock extrastyle %}
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a href="/" class="brand">Weibull</a>
        </div>
    </div>
    <section class="container">
        <br>
        <div class="row">
            {% block container %}{% endblock container %}
        </div>
    </section>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/raphael.min.js"></script>
    {% block bottom_script %}{% endblock bottom_script %}
</body>
</html>