{% extends 'base.html' %}
{% block title %}Weibull App{% endblock title %}
{% block container %}    
    <h1>Weibull App</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <th>X</th>
            <th>Weibull Distribution</th>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.x }}</td>
                <td>{{ item.y }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock container %}