{% extends 'base.html' %}
{% block title %}Weibull App{% endblock title %}
{% block container %}
{% load crispy_forms_tags %}
    <!--<div class="hero-unit">
        <h1>Weibull App</h1>
    </div>-->
    <div class="span4">
        <form action="" method='post'>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Generar Tabla</button>
                <button href="/" type="reset" class="btn">Resetar</button>
            </div>
        </form>
    </div>
    <div class="span8">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <th>X</th>
                <th>Distribución Weibull</th>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.x }}</td>
                    <td>{{ item.y }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock container %}